
@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Patua+One&display=swap');
html {
    background-image: url("https://t4.ftcdn.net/jpg/03/14/41/45/360_F_314414529_aJh5D8Rv5CtpBNCkcrtJy8HpizpSPbop.jpg");
    background-size: contain;
}

body {font-family: 'Mate', serif;
    margin:0;
    padding:0;
}

main {
    font-family: 'Mate', serif;
    padding: 16px;
}

footer {background-color: darkcyan;
    font-family: 'Mate', serif;
    padding:30px;
}

img {height: 200px;
}
nav {background-color: rgb(255, 94, 0);
    color: white;
    font-family: 'Mate', serif;
    border-bottom: 1px solid black;
    padding:16px
}
.link {color: white;}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Mate', serif;
}

a {
    font-family: 'Mate', serif;
    text-decoration:none
}
h1 {background-color:whitesmoke;
    text-align: center;
    font-family: 'Patua One', serif;
    color: rgb(7, 110, 110);
    font-size: 3em;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    margin-top: 1px

}
h2 {font-family: 'Patua One', serif;
    text-align: center;
    color:darkslategrey;
    font-size: 1.75em
}
.recipe-link {font-family: 'Mate', serif;
    color: rgb(228, 129, 8);
}

#Ingredients td, #Ingredients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Ingredients tr:nth-child(even){background-color: #f2f2f2;}

#Ingredients tr:hover {background-color: #ddd;}

#Ingredients th {
  text-align: center;
  background-color: rgb(255, 94, 0);
  color: white;
}
ol {
    background-color: #ddd;
    border-color:2px 2px 2px 2px solid black;
}
